
.comments{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.comments .cont{
    width: 600px;
    height: 82%;
    padding: 30px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 30px #000000;
    border-radius: 8px;
}

#allcomments{
    overflow: auto ;
    height: 90%;
}

#exit{
    position: fixed;
    right: 32%;
    z-index: 200;
    width: 35px;
    height: 35px;
    padding: 4px 9px;
    font-size: 26px;
    color: #50658e;
}

/* start media */
@media (max-width: 765px){
    .comments .cont{
        width: 97% !important;
    }

    .comments{
        width: 100% !important;
    }

    #exit{
        right: 10%;
    }
}


.comm-img{
    vertical-align: top;
    margin-top: 10px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
}

.comm-cont{
    display: inline-block;
    border-radius: 15px;
    background-color: #E1E1E1;
    color: black;
    width: 90%;
    vertical-align: middle;
    padding-left: 15px;
}

.comm-p{
    padding: 7px;
    size: 15px;
    margin: 0;
}

.comm-name{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}

.answer{
    margin-left: 50px;
    margin-top: 20px;
}